<% if logged_in? %>
  <%= render 'events/create_event_button' %>
  <div class="user-show">
    <div class="hosting-events-upcoming">
      <div>
        Hosting Events - Upcoming (<%= @hosting_events.upcoming_events.count %>)
      </div>
      <%= render 'shared/events_list', events: @hosting_events.upcoming_events %>
    </div>
    <div class="hosting-events-past">
      <div>
        Hosting Events - Past (<%= @hosting_events.past_events.count %>)
      </div>
      <%= render 'shared/events_list', events: @hosting_events.past_events %>
    </div>
    <div class="attended-events-upcoming">
      <div>
        Attended Events - Upcoming (<%= @attended_events.upcoming_events.count %>)
      </div>
      <%= render 'shared/events_list', events: @attended_events.upcoming_events %>
    </div>
    <div class="attended-events-past">
      <div>
        Attended Events - Past (<%= @attended_events.past_events.count %>)
      </div>
      <%= render 'shared/events_list', events: @attended_events.past_events %>
    </div>
  </div>
<% end %>
