
<% if @upcoming_events.any? %>
  <h3>Upcoming Events (<%= @upcoming_events.count %>)</h3>
  <ol class="hosting_events">
    <% @upcoming_events.each do |event| %>
      <%= render event %>
    <% end %>
  </ol>
  <%= will_paginate @upcoming_events %>
<% end %>

<% if @prev_events.any? %>
  <h3>Upcoming Events (<%= @prev_events.count %>)</h3>
  <ol class="hosting_events">
    <% @prev_events.each do |event| %>
      <%= render event %>
    <% end %>
  </ol>
  <%= will_paginate @prev_events %>
<% end %>
